@use "colors";
@use "sass:map";

.media-bar {
	background-color: map.get(
		$map: colors.$backgrounds,
		$key: background-transparent
	);
	padding: 14px;
	padding-bottom: 7px;
	padding-top: 7px;
	border-radius: 22px;
	margin-top: 4px;
	margin-left: 6px;
}

.media-title {
	color: map.get($map: colors.$accents, $key: accent);
	padding-left: 6px;
	padding-right: 6px;
	font-size: 11px;
	font-weight: 450;
}

.media-artist {
	color: map.get($map: colors.$accents, $key: accent);
	padding-left: 6px;
	padding-right: 6px;
	font-size: 11px;
	font-weight: 400;
}

.media-card-control-box {
	margin-top: 15px;
}

.media-button {
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
	margin: 2px;
	border-radius: 33px;
}

.media-info-button {
	margin-right: 2px;
	margin-right: 2px;
	border-radius: 14px;
	padding-left: 16px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 2px;
	/* color: rgb(0, 0, 0, 0); */
}

/* .media-info-button:hover { */
/* color: rgba(255, 255, 255, 0.65); */
/* } */

.cover-art {
	margin-right: 10px;
}

.media-seperator {
	color: map.get($map: colors.$accents, $key: accent);
}
