@use 'sass:map';
@use 'colors';
@use 'fonts';

.messages-bar {
    padding: 0px;
    // padding-left: 9px;
    // padding-right: 9px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    
}

.messages-button {
    margin: 0px;
    padding: 0px;
    border-radius: 22px;
    padding: 1.5px;
}

.messages-icon {
    border-radius: 22px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.messages-icon:hover {
    color: map.get(colors.$themes, light, background);
    background-color: map.get(colors.$themes, light, secondary);
}