@use 'sass:map';
@use 'colors';
@use 'fonts';


.notification-item-container {
    background-color: rgba(map.get(colors.$themes, light, secondary),0.1);
    border-radius: 10px;
    border: 1px solid rgba(map.get(colors.$themes, light, secondary),0.65);
    padding: 10px;
}

.notification-item-icon {
    border-radius: 22px;
}

.notification-item-title {
    color: map.get(colors.$themes, light, text);
    font-weight: 550;
	font-size: 17px;
}

.notification-item-summary {
    color: map.get(colors.$themes, light, text);
    font-weight: 550;
    font-size: 13px;
}

.notification-item-body {
    color: map.get(colors.$themes, light, text);
    font-weight: 400;
    font-size: 12px;
}

.notification-item-button {
    color: map.get(colors.$themes, light, text);
    background-color: map.get(colors.$themes, light, background);
    border-radius: 22px;
    padding: 0px;
}

.notification-item-button:hover {
    background-color: map.get(colors.$themes, light, secondary);
    color: map.get(colors.$themes, light, background);
}

.notification-item-revealer {
    padding-top: 5px;

}