@use "colors";
@use "sass:map";

.progress-bar {
  background-color: map.get(colors.$accents, accent-transparent);
  border-radius: 4px;
}

.progress-bar-fill {
  background-color: map.get(colors.$accents, accent);
  border-radius: 4px;
}
