@use "sass:map";
@use "colors";

.system-tray{
    background-color: map.get(colors.$themes, light, background);
    border-radius:22px;
    padding: 5px;
    padding-right: 7px;
    padding-left: 7px;
    margin-top: 5px;
}

.time {
    color: map.get(colors.$themes, light, text);
    
}