@use "colors";
@use "sass:map";

.volume-modal-box {
  background-color: map.get(colors.$backgrounds, background-opaque);
  border-radius: 15px;
  margin: 15px;
  border-width: 0.4px;
  border-color: map.get(colors.$accents, accent);
  border-style: solid;
}

.volume-icon {
  margin-left: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.volume-progress-box {
  margin-left: 5px;
  margin-right: 15px;
}
