@use "colors";
@use "sass:map";

.media-bar {
	background-color: map.get($map: colors.$theme-colors, $key: primary);
	padding: 14px;
	padding-bottom: 7px;
	padding-top: 7px;
	border-radius: 22px;
	margin-top: 4px;
	margin-left: 6px;
}

.media-info {
	margin-left: 6px;
	margin-right: 10px;
}

.media-title {
	color: map.get($map: colors.$theme-colors, $key: accent);
	padding-left: 6px;
	padding-right: 6px;
	font-size: 11px;
	font-weight: 450;
}

.media-artist {
	color: map.get($map: colors.$theme-colors, $key: accent);
	padding-left: 6px;
	padding-right: 6px;
	font-size: 11px;
	font-weight: 400;
}

.media-button {
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
	margin: 2px;
	border-radius: 33px;
}

.cover-art {
	margin-right: 10px;
}
