@use "colors";
@use "sass:map";

.media-card-box {
	background-color: map.get(colors.$backgrounds, background-transparent);
	margin: 10px;
	padding: 15px;
	border-radius: 22px;
	border-width: 1px;
	border-color: map.get(colors.$accents, accent);
	border-style: solid;
}

.media-card-cover-art {
	margin-top: 5px;
}

.media-card-info-box {
	margin-top: 20px;
	margin-left: 10px;
}

.media-card-title {
	color: map.get($map: colors.$accents, $key: accent);
	padding-right: 6px;
	font-size: 16px;
	font-weight: 450;
}

.media-card-artist {
	color: map.get($map: colors.$accents, $key: accent);
	padding-right: 6px;
	font-size: 16px;
	font-weight: 350;
}

.media-card-audio-visualizer {
	margin-top: 5px;
	margin-bottom: 0px;
}

.media-button-large {
	padding: 6px;
	padding-left: 6px;
	padding-right: 6px;
	margin: 2px;
	border-radius: 55px;
}
