@use "colors";

.workspace-right-bar {
  background-color: map-get($map: colors.$theme-colors, $key: primary);
  padding: 14px;
  padding-bottom: 7px;
  padding-top: 7px;
  border-radius: 22px;
  margin-top: 3px;
}
