@use "colors";

.workspace-bar {
  background-color: map-get($map: colors.$theme-colors, $key: primary);
  padding: 14px;
  padding-bottom: 7px;
  padding-top: 7px;
  border-radius: 22px;
  margin-top: 4px;
}

.workspace-label {
  color: map-get($map: colors.$theme-colors, $key: accent);
  padding-left: 6px;
  padding-right: 6px;
  font-size: 15px;
}
